extends layout

block content
  h1= title
  p Welcome to #{title}
  p live stream: weird....
  p live stream: weird....
  p search data: #{searchData[0]._id}
  p place data: #{placeData[0].id}
  p some stream URL: #{someStreamURL}